@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* font-family: 'Karla', sans-serif; */

* { 
  box-sizing: border-box;
}

:root {
  --primary-cyan:hsl(179, 62%, 43%);
  --primary-bright-yellow:hsl(71, 73%, 54%);
  --neutral-light-gray:hsl(204, 43%, 93%);
  --neutral-grayish-blue:hsl(217, 31%, 57%);
  --neutral-grayish-true-blue:hsl(179, 55%, 60%);
  font-size:16px;
  font-family:'Karla', sans-serif; 
}
body {
  background-color:rgb(199, 199, 199);
}

.container {
  box-shadow:0px 1.5rem 2rem 0px gray;
  border-radius: 0.5rem;
  width: 70%;
  margin: 0 auto ;
}
.content {
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}
.content > * {
  padding-left:3rem;
}

.content__header {
  background-color:white;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 0.5rem 0.5rem 0 0;
}

.header {
  margin:3.5rem 0;
}

.header h1 {
  color:var(--primary-cyan);
  margin:0;
  margin-bottom:1.5rem;
  font-size:1.8rem;
}
header h2 {
  color:var(--primary-bright-yellow);
  font-size:1.3rem;
  margin-bottom: 1.5rem;
}

.header p {
  color:var(--neutral-grayish-blue);
  font-weight:700;
  line-height: 1rem;
  font-size:1.1rem;
}

.content__price {
  background-color: var(--primary-cyan);
  color:white;
  border-radius: 0 0 0 0.5rem;
}

.content__whyUs {
  background-color: var(--neutral-grayish-true-blue);
  color:white;
  border-radius: 0 0 0.5rem 0;
}

.price,.whyUs {
  margin-top:3rem;
  margin-bottom: 2rem;
}
.price,.whyUs h3{
  font-size:1.2rem;
}

.price {
  position: relative;
}
.price span {
  font-weight: 700;
  font-size:3rem;
}

.price small {
  font-weight: 700;
  font-size:1.1rem;
  position: absolute;
  top:65px;
  left:106px;
  opacity:0.5;
}

.price button {
  background-color:var(--primary-bright-yellow);
  border:none;
  outline:none;
  width:80%;
  padding:1.5rem 0;
  border-radius: 0.5rem;
  color:white;
  font-weight: 700;
  font-size:1.3rem;
  box-shadow: 1px 5px 15px 1px hsl(179, 61%, 26%);
  cursor:pointer;
}

.whyUs ul{
  list-style-type: none;
  padding:0;
  line-height: 1.7rem;
  opacity:0.85;
}

@media only screen and (max-width:900px){
  .content__header {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .content { 
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr;
  }
  .content > * {
    padding:0;
    padding:0 2rem;
  }

  .content__price {
    border-radius: 0;
  }
  .price button {
    width:100%;
  }
  .content__whyUs {
    border-radius: 0;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}